@media(prefers-color-scheme:dark) {
    body {
        background: #1A171F;
        color:#ffffff;
    }

    .txtmv {
        color: #C09FEF;
     }

     .copyright-font {
        color: #ffffff; 
    }

    .footer {
        background-image: url(/../../images/footerdark.svg); /* The image used */
        background-color: #27005E; /* Used if the image is unavailable */
    }
    .hero {
        background-image: url(/../../images/backgroundDark.svg); /* The image used */
        background-color: #27005E; /* Used if the image is unavailable */
    }
    }